.main {
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
    display: block;
    width: 100%;

    &__content {
        display: flex;
        gap: 20px;
        width: 100%;

        &--full {
            display: block;
        }
    }
    
    &__page {

        &-logo {
            width: 35px;
            object-fit: cover;
        }
    }

    &__head {
        display: flex;
        align-items: center;   
        gap: 25px;
    }

    &__title {
        font-size: 32px;
        margin: 0;
    }

    &__selects {
        display: flex;
        gap: 30px;

        &-head {
            margin: 0;
            color: gray;
            font-size: 16px;
        }

        &-section {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}